.options {
  display: grid;
  grid-template:
    'flex margin content margin2 flex2' 1fr
    / 1fr 1rem minmax(0, 50rem) 1rem 1fr;
  margin-top: 5.9604644775rem;

  & > * {
    grid-column: content;
  }
}

.options-section {
  width: 100%;
  padding-bottom: 3.0517578125rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.953125rem;
}

.field {
  display: grid;
  grid-template-columns: minmax(100px, 200px) auto;
  column-gap: 1.953125rem;

  & .label {
    color: var(--color-700);
    line-height: 113%;
  }

  & .input {
    border-radius: 7px;
    background: var(--color-150);
    border: none;
    outline: none;
    padding: 0.64rem 0.8rem;
  }

  & .input:focus {
    background: var(--color-100);
  }

  & .input::placeholder {
    color: var(--color-400);
  }
}

.save {
  cursor: pointer;

  &:hover {
    background: var(--color-150);
  }

  &.saved {
    animation: saved-flash 0.6s 2;
  }
}

@keyframes saved-flash {
  50% {
    background: #067e06;
  }
}
