.agent {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.agent__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agent__title {
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-1000);
  border-radius: 2px;
  background: #0a7698;
  padding: 1px 0.4096rem;
}

.agent__prompt {
  color: var(--color-700);
  font-family: SF Pro;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 125%;
}

.agent__response {
  position: relative;

  & .scrollover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, hsla(223, 21%, 19%, 0), hsla(223, 21%, 19%, 1));
  }

  & .agent__output {
    line-height: 156%;
    max-height: 13lh;
    overflow: scroll;
    /* Compensate for scrollover el */
    padding-bottom: 20px;
  }

  & .agent__output.noscrollover {
    padding-bottom: 0;
  }

  & p {
    margin: 0;
  }

  & p + p {
    margin-top: 0.4096rem;
  }

  & ol,
  & ul {
    margin: 0;
    padding-left: 1rem;
  }

  & ol li,
  & ul li {
    margin-top: 0.4096rem;
  }

  & ol li::marker,
  & ul li::marker {
    color: var(--color-700);
  }
}

.agent__delete {
  padding: 1px 1rem;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.feather-trash {
  display: block;
  height: 1rem;
}

@keyframes dot-flash {
  50% {
    opacity: 1;
  }
}

.loading {
  display: flex;
  column-gap: 1px;
  font-weight: 600;

  & > span {
    opacity: 0.5;
    animation: dot-flash 1s infinite;
    display: block;
  }

  & > span:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  & > span:nth-of-type(3) {
    animation-delay: 0.4s;
  }
}
