.agent {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.agent__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agent__title {
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-1000);
  border-radius: 2px;
  background: #0a7698;
  padding: 1px 0.4096rem;
}

.agent__prompt {
  color: var(--color-700);
  font-family: SF Pro;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 125%;
}

.agent__response {
  line-height: 156%;
}

.agent__delete {
  padding: 1px 1rem;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.feather-trash {
  display: block;
  height: 1rem;
}

@keyframes dot-flash {
  50% {
    opacity: 1;
  }
}

.loading {
  display: flex;
  column-gap: 1px;
  font-weight: 600;

  & > span {
    opacity: 0.5;
    animation: dot-flash 1s infinite;
    display: block;
  }

  & > span:nth-of-type(2) {
    animation-delay: 0.2s;
  }

  & > span:nth-of-type(3) {
    animation-delay: 0.4s;
  }
}
